<h1>Listing cards</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th>Deck</th>
  </tr>

<% @cards.each do |card| 
     deck = card.deck %>
  <tr>
    <td><%=h card.question %></td>
    <td><%=h card.answer %></td>
    <td><%= link_to deck.title, deck %></td>
    <td><%= link_to 'Show', deck_card_path(@deck, card) %></td>
    <td><%= link_to 'Edit', edit_deck_card_path(@deck, card) %></td>
    <td><%= link_to 'Destroy', deck_card_path(@deck, card), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New card', new_deck_card_path %>