<p>
  <b>Question:</b>
  <%=h @card.question %>
</p>

<p>
  <b>Answer:</b>
  <%=h @card.answer %>
</p>
<p>
	<b>Deck:</b>
<%  deck = @card.deck %>
	<%= link_to deck.title, deck %>
</p>

<%= link_to 'Edit', edit_deck_card_path(@deck, @card) %> |
<%= link_to 'Back', deck_cards_path(@deck) %>