<p>
  <b><%= Deck.human_attribute_name('title').s %>:</b>
  <%=h @deck.title %>
</p>
<% cards = @deck.cards
   if !cards.empty? %>
     <p><b><%= Card.human_name(:count => :many) %>:</b>
<%=  link_to ts('study.record', :what => Card.human_name(:count => :many)), deck_cards_path(@deck) %>
     </p>
<%   authorized_only hash_for_edit_deck_card_path do %>
     <table>
       <tr>
         <th><%= Card.human_attribute_name('question').s %></th>
         <th><%= Card.human_attribute_name('answer').s %></th>
       </tr>
<%     cards.each do |card| %>
       <tr>
         <td><%=h card.question %></td>
         <td><%=h card.answer %></td>
         <td><%= link_to 'Show', deck_card_path(@deck, card) %></td>
       </tr>
<%     end %>
     </table>
<%   end 
end %>
<p>
<% previous = false
   authorized_only hash_for_new_deck_card_path do 
	 previous = true %>
<%=  link_to ts('new.record', :what => Card.human_name(:count => 1)), new_deck_card_path(@deck) %>
<% end
   authorized_only hash_for_edit_deck_path do %>
<%=  '|' if previous %>
<%=  link_to ts('edit.record', :what => Deck.human_name(:count => 1)), edit_deck_path(@deck) %>
<%   previous = true
   end
   authorized_only hash_for_deck_path(:action => 'destroy') do %>
<%=  '|' if previous %>
<%=  link_to ts('delete.this', :what => Deck.human_name(:count => 1)), @deck, :confirm => te('delete.confirmation'), :method => :delete %>
<%   previous = true
   end %>
<%= '|' if previous %>
<%= link_to ts('back.to', :what => t(:all, :what => Deck.human_name(:count => :many))), decks_path %>
</p>